<?xml version="1.0" encoding="UTF-8" ?>
<mapper>
	<map>
		<specificationClass>com.toohightoplay.vu.mif.ot2.specification.WildAnimalSpecification</specificationClass>
		<specificationProperties>species=BigKitty;scaryPhrase=Roawrr;legs=4</specificationProperties>
		<productClass>com.toohightoplay.vu.mif.ot2.products.Pussy</productClass>
		<productProperties>species=ForbiddenJoy;role=pet;legs=4</productProperties>
	</map>
</mapper>