<?xml version="1.0" encoding="UTF-8" ?>
<mapper>
	<map>
		<specificationClass>com.toohightoplay.vu.mif.ot2.specification.WildAnimalSpecification</specificationClass>
		<specificationProperties>species=BigKitty;scaryPhrase=Roawrr;legs=4</specificationProperties>
		<productClass>com.toohightoplay.vu.mif.ot2.products.HungryCat</productClass>
		<productProperties>scarySound=Roawrr</productProperties>
	</map>
	<map>
		<specificationClass>com.toohightoplay.vu.mif.ot2.specification.DomesticAnimalSpecification</specificationClass>
		<specificationProperties>species=Great pussy;role=Love</specificationProperties>
		<productClass>com.toohightoplay.vu.mif.ot2.products.Pussy</productClass>
		<productProperties>legCount=4;specialPhrase=Murrrr</productProperties>
	</map>
</mapper>