<mapper>
	<map>
		<specificationClass>com.toohightoplay.vu.mif.ot2.specification.WildAnimalSpecification
		</specificationClass>
		<specificationProperties>
			<species>BigKitty</species>
			<scaryPhrase>Roawrr</scaryPhrase>
			<legs>4</legs>
		</specificationProperties>
		<productClass>com.toohightoplay.vu.mif.ot2.products.Pussy
		</productClass>
		<productProperties>
			<species>ForbiddenJoy</species>
			<role>pet</role>
			<legs>4</legs>
		</productProperties>
	</map>
</mapper>